.main {
  background-color: #fff;
  height: 34rem;
  padding: 1rem 2rem;
  margin: 0 2rem;
  
  margin-bottom: 2rem;

//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
}

// .box-detail {
//   display: flex;
//   align-items: baseline;

//   padding: 1.5rem 0;
//   h2 {
//     font-size: 2.1rem;
//     color: var(--text-color);
//   }

//   p{
//     font-size: 1.4rem;
//     color: var(--link-color);

//     margin-left: 1.5rem;
//   }
// }

.slider-box{

}
