$slider-arrow-border: 2px solid #007185;

$slider-arrow-div-padding: 6% 2rem;
$arrow-div-margin: 0.3rem;
$arrow-svg-width: 3.4rem;
$arrow-svg-height: 5.2rem;

.sliders {
  position: relative;
  img {
    height: 100%;
    max-width: none;
    width: 100vw;
  }

  margin-bottom: -37rem;
}

.slider-arrow {
  &-left {
    position: absolute;
    left: 0;
    top: 0;

    padding: $slider-arrow-div-padding;

    margin: $arrow-div-margin;

    &:hover {
      border: $slider-arrow-border;
      border-radius: var(--border-radius-for-hover);
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }

    svg {
      fill: #fff;
      width: $arrow-svg-width;
      height: $arrow-svg-height;
    }
  }

  &-right {
    position: absolute;
    right: 0;
    top: 0;

    padding: $slider-arrow-div-padding;
    margin: $arrow-div-margin;

    &:hover {
      border: $slider-arrow-border;
      border-radius: var(--border-radius-for-hover);
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }

    svg {
      fill: #fff;
      width: $arrow-svg-width;
      height: $arrow-svg-height;
    }
  }
}
