$nav-background-color: #232f3e;
$white-color: #fff;

.nav {
  color: $white-color;
  background-color: $nav-background-color;

  font-size: 1.4rem;
  display: flex;
  align-items: center;
  line-height: 2rem;

  height: 3.9rem;

  padding-top: 0;
}

.nav-left {
  
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: transparent;
    border: none;

    color: $white-color;
    padding: 0.8rem 0.9rem ;

    margin-left: 0.9rem;

    svg {
      fill: $white-color;
    }

    span {
      font-weight: 700;
      padding: 0.5rem;
    }

    &:hover{
      border: var(--border-for-hover);
      border-radius: var(--border-radius-for-hover);
    }
  }
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: auto;
  div {
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    padding: 0.8rem 0.9rem;
  }

  div:hover {
    border: var(--border-for-hover);
    border-radius: var(--border-radius-for-hover);
    cursor: pointer;
  }

  &__prime {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      height: 1.8rem;
      margin-top: 0.6rem;
      fill: #ccc;
    }
  }
}

.nav-right {
  display: flex;

  img:hover {
    border: var(--border-for-hover);
    border-radius: var(--border-radius-for-hover);
  }
}
