.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;

  img {
    width: 50%;
  }

  p {
    font-size: 1.2rem;
    color: #007185;

    &:hover {
      color: var(--dark-orange-color-for-hover-link);
      cursor: pointer;
    }
  }
}
