.main {
  color: var(--text-color);
  display: flex;
  padding: 2rem 1rem;
}

.visuals {
  flex-basis: 49%;
  border: 2px solid black;
}

.details {
  flex-basis: 60%;
  // border: 2px solid black;
  padding: 1.5rem;
}

.actions {
  flex-basis: 25%;
}
