$nav-background-color: #131921;
$light-text-color: #ccc;

.nav {
  width: 100vw;
  height: 6rem;
  display: flex;
  background-color: $nav-background-color;
  color: #fff;
  line-height: 1.3;
  cursor: pointer;

  position: fixed;
  top: 0;
  z-index: 30;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1px;
  padding: 0 1.5rem;

  a{
    text-decoration: none;
    color: #fff;
  }

  &__logo {
    display: flex;
    position: static;
    // background-color: red;

    svg {
      width: 10rem;
      height: 3.1rem;
      fill: #fff;

      margin-top: 0.5rem;
    }

    &-text {
      font-size: 1.4rem;
      font-weight: 400;
      align-self: center;
    }

    &:hover{
      border: var(--border-for-hover);
      border-radius: var(--border-radius-for-hover);
    }
  }

  &__location {
    display: flex;
    margin: 0.5rem 0.2rem 0.5rem 0.7rem;
    padding: 1rem 0rem;

    & span {
      display: flex;
      align-items: center;
    }

    & svg {
      width: 1.6rem;
      fill: #fff;
      margin-bottom: -1rem;
    }

    &-texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1.1;

      p {
        font-size: 1.2rem;
        font-weight: 500;
        color: $light-text-color;
      }

      h3 {
        font-size: 1.4rem;
        font-weight: 700;
        color: #fff;
      }
    }

    &:hover{
      border: var(--border-for-hover);
      border-radius: var(--border-radius-for-hover);
    }
  }
}

.nav-form {
  display: flex;
  // align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem 0.7rem 1rem 0rem;
  color: #111;
  margin-left: 0;

  &__dropdown {
    margin-top: 1rem 0;

    & select {
      height: 3.8rem;
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      border: none;
      border-right: 1px solid $light-text-color;
      padding: 0.3rem 0.5rem;

      background: #e8e7e7;
    }

    select:hover,
    select:focus {
      background: #cbcaca;
      outline: 2px solid #cc882e;
    }
  }

  &__search-input {
    input {
      width: 42vw;
      line-height: 1.5;
      font-family: inherit;
      font-size: 1.5rem;
      height: 3.8rem;
      margin: 0;
      padding: 0.7rem 1rem 1rem 0.7rem;
      border: 0;
    }

    input:focus {
      outline: 2px solid #cc882e;
    }
  }

  &__search-button {
    & button {
      background-color: #febd69;
      padding: 0.3rem 1.3rem;
      border-left: 1px solid $light-text-color;

      outline: 0;
      font-size: 1.4rem;
      border: none;
      line-height: 1px;

      border-top-right-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }

    & svg {
      height: 3.2rem;
      fill: #111;
    }

    button:hover {
      background-color: #f0a340;
    }
  }
}

.nav-right {
  display: flex;

  &__lang {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 5rem;
    height: 100%;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;

    padding: 0 0.9rem 0.5rem 0.9rem;
    margin-left: 1rem;

    & img {
      align-content: center;
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 0.5rem;
      margin-top: 2px;
    }

    svg {
      width: 1.8rem;
      margin-bottom: -0.8rem;
      fill: $light-text-color;
    }

    &:hover{
      border: var(--border-for-hover);
      border-radius: var(--border-radius-for-hover);
    }
  }

  &__signIn-main {
    display: flex;

    padding: 0 0.9rem 1rem 0.9rem;
    margin-left: 0.2rem;

    svg {
      fill: $light-text-color;
      width: 1.8rem;
      align-self: flex-end;
      margin-bottom: 1rem;
    }

    &:hover{
      border: var(--border-for-hover);
      border-radius: var(--border-radius-for-hover);
    }
  }

  &__signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-text1 {
      font-size: 1.2rem;
      font-weight: 400;
      height: 1.4rem;
      line-height: 1.4rem;
    }

    &-text2 {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5rem;
    }
  }

  &__orders {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 0.9rem 1rem 0.9rem;
    margin-left: 0.2rem;

    &-returns {
      font-size: 1.2rem;
      font-weight: 400;
      height: 1.4rem;
      line-height: 1.4rem;
    }

    &-child {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5rem;
    }

    &:hover{
      border: var(--border-for-hover);
      border-radius: var(--border-radius-for-hover);
    }
  }

  &__cart {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 0.9rem 1.1rem 0.9rem;
    margin: 0 1.1rem 0 0.2rem;

    text-decoration: none;
    color:#fff;


    &-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-number {
        color: #f08804;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1;
        padding: 0;
        padding-left: 0.6rem;
      }

      &-icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: #fff;
      }
    }

    &-text {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.5rem;

      align-self: flex-end;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
    }

    & svg {
      fill: #fff;
    }

    &:hover{
      border: var(--border-for-hover);
      border-radius: var(--border-radius-for-hover);
    }
  }
}
