.main {
  display: block;
  position: relative;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 35%;
  padding: 2.5rem 2rem;

  // button {
  //   color: #0f1111;
  //   border: none;
  //   background-color: var(--button-backgrond-yellow-orange-color);
  //   padding: 1rem;
  //   width: 100%;
  //   border-radius: 1rem;
  //   cursor: pointer;
  // }
}

.ad-item {
  padding: 2rem 2rem 0 2rem;
  // height: 100%;
}
